@if(!_isError()) {
    <div class="loadin-screen-wrapper">
        <svg class="pl" width="240" height="240" viewBox="0 0 240 240">
            <circle class="pl__ring pl__ring--a" cx="120" cy="120" r="105" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 660" stroke-dashoffset="-330" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--b" cx="120" cy="120" r="35" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 220" stroke-dashoffset="-110" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--c" cx="85" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
            <circle class="pl__ring pl__ring--d" cx="155" cy="120" r="70" fill="none" stroke="#000" stroke-width="20" stroke-dasharray="0 440" stroke-linecap="round"></circle>
        </svg>
    </div>
}
@if(_isError()){
    <div class="error-screen-container">
        <div class="error-screen-wrapper">
            <img class="error-image" src="trace.svg" alt="error">
            <h2 class="error-message">{{ _errorMessage() }}</h2>
            <div style="width: 8rem; margin-top: 1rem;">
                <app-button
                    #importButton
                    size="lg"
                    icon="reply"
                    iconSize="sm"
                    type="default"
                    shape="default"
                    placeHolder="Volver"
                    (clicked)="onReturnClick($event)"
                />
            </div>
        </div>

        <span class="attribution-text">
            <a href="https://www.flaticon.com/free-icons/went" title="went icons">
                Atribucion: icono creado por Ghozi Muhtarom - Flaticon
            </a>
        </span>
    </div>
}