<style>
  .icon-size {
    font-size: var(--icon-sm);
  }
</style>

<div class="flex flex-col gap-2">
  <div class="relative">
    <input
      #input
      type="password"
      [name]="name()"
      [autocomplete]="autocomplete()"
      [type]="_showPassword() ? 'text' : 'password'"
      [value]="_value()"
      [attr.minlength]="min()"
      [attr.maxlength]="max()"
      [disabled]="_isDisabled()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="w-full h-11 px-4 rounded-md border bg-transparent font-normal text-(length:--text-sm) text-slate-600
            placeholder:text-transparent outline-none
            transition-all disabled:cursor-not-allowed disabled:opacity-50"
      [ngClass]="{
        'border-border focus:border-gray-700': !_isError(),
        'border-destructive focus:border-destructive': _isError()
      }"
      [ngClass]="{
        'font-bold': !_showPassword(),
        'font-normal': _showPassword() && _value()
      }"
    />
    <label 
      class="absolute left-3 px-1 bg-white transition-all duration-150 pointer-events-none"
      [class]="labelClasses()"
    >
      {{ placeHolder() }}
    </label>
    <div 
      class="absolute top-3 right-3 cursor-pointer text-gray-500 hover:text-gray-700 transition-colors rounded select-none"
      (click)="togglePassword($event)"
      zTooltip="Revelar / Ocultar"
    >
      @if(!_showPassword()){
        <span class="material-icons icon-size">visibility_off</span>
      }
      @if(_showPassword()){
        <span class="material-icons icon-size">visibility</span>
      }
    </div>
  </div>
  <small class="text-destructive" [class.hidden]="!_isError()">
    {{ _errorMessage() }}
  </small>
</div>
