<div class="min-w-0 flex flex-col gap-(--space-1)">
  <div class="min-w-0 relative">
    <input
      #input
      type="text" 
      [name]="name()"
      [autocomplete]="autocomplete()"
      [value]="value()"
      [attr.minlength]="min()"
      [attr.maxlength]="max()"
      [disabled]="disabled()"
      (input)="onInput($event)"
      (focus)="onFocus()"
      (blur)="onBlur()"
      class="w-full min-w-0 h-11 px-4 rounded-md border bg-transparent font-normal text-(length:--text-sm) 
            text-slate-600 placeholder:text-transparent outline-none truncate
            transition-all disabled:cursor-not-allowed disabled:opacity-50"
      [ngClass]="{
        'border-border focus:border-gray-600': !_isError(),
        'border-destructive focus:border-destructive': _isError()
      }"
    />
    <label 
      class="absolute left-3 px-1 bg-white transition-all duration-150 pointer-events-none"
      [class]="labelClasses()"
    >
      {{ placeHolder() }}
    </label>
  </div>
  <small class="text-destructive" [class.hidden]="!_isError()">
    {{ _errorMessage() }}
  </small>
</div>
