<style>
  .input-password-inline-icon {
    font-size: var(--icon-xs);
  }

  .input-password-inline-icon-secondary {
    font-size: var(--icon-sm);
  }
</style>

<div class="flex flex-col gap-2">
  <label class="text-sm leading-none font-medium">
    {{ label() }}
  </label>
  <z-input-group [zAddonBefore]="iconTemplate" [zAddonAfter]="toggleTemplate">
    <input
      z-input
      zSize="lg"
      [zStatus]="_isError() ? 'error' : undefined"
      [type]="_showPassword() ? 'text' : 'password'"
      [name]="name()"
      [autocomplete]="autocomplete()"
      [attr.minlength]="minLength()"
      [attr.maxlength]="maxLength()"
      [placeholder]="placeHolder()"
      (input)="onInput($event)"
      class="truncate font-bold"
      [ngClass]="{
        'font-bold': !_showPassword(),
        'font-normal': _showPassword() && _value()
      }"
    />
  </z-input-group>
  <!-- icon for the input -->
  <ng-template #iconTemplate>
    <div class="h-full flex items-center">
      <span class="material-icons text-gray-500 input-password-inline-icon mt-0.5 mr-0.5">shield</span>
    </div>
  </ng-template>
  <!-- icon for the input -->
  <ng-template #toggleTemplate>
    <button
      type="button"
      class="h-full flex items-center cursor-pointer text-gray-500 hover:text-gray-700 transition-color mt-0.5"
      (click)="togglePassword($event)"
    >
      @if (!_showPassword()) {
        <span class="material-icons input-password-inline-icon-secondary select-none">visibility_off</span>
      }
      @if (_showPassword()) {
        <span class="material-icons input-password-inline-icon-secondary select-none">visibility</span>
      }
    </button>
  </ng-template>
  <!-- small feedback -->
  <small class="text-destructive" [class.hidden]="!_isError()">
    {{ _errorMessage() }}
  </small>
</div>
