<div
    class="flex flex-row w-full items-start gap-3 rounded-lg p-(--space-3) border"
    [ngClass]="{
        'border-[color:var(--warning)] bg-(--warning)/5': status() === 'warning',
        'border-destructive bg-(--destructive)/5': status() === 'danger'
    }"
>
    <!-- Card icon -->
    @if(status() === 'danger') {
        <z-icon 
            zType="circle-alert"
            zSize="xl" 
            [style.color]="status() === 'danger' ? 'var(--destructive)' : null" 
        />
    }
    @if(status() === 'warning') {
        <z-icon 
            zType="info"
            zSize="xl"
            [style.color]="status() === 'warning' ? 'var(--warning)' : null"
        />
    }
    <div class="flex flex-col justify-start gap-1 mt-0.5">
        <!-- Card tittle -->
        <div 
            class="text-(length:--text-md) tracking-tight leading-none font-medium" 
            [style.color]="status() === 'danger' ? 'var(--destructive)' : null"
            [style.color]="status() === 'warning' ? 'var(--warning)' : null"
            [ngClass]="{
                'text-destructive': status() === 'danger',
                'text-warning': status() === 'warning'
              }"
        >
            {{ title() }}
        </div>
        @if (description()) {
        <div class="mt-1" [class]="description()">
            <ng-container *zStringTemplateOutlet="description()">
            {{ description() }}
            </ng-container>
        </div>
        }
    </div>
</div>
